<div class="container mt-4">
  <img src="assets/brand/encologo.svg" alt="Encotech Kft. Logó" class="c-avatar">
  <h1>Üdvözöllek az Encotech Prosamp alkalmazásban!</h1>
  <p>Kedves Kollégák!</p>
  <p>Ez az alkalmazás az Encotech Kft. belső használatára készült, hogy megkönnyítse a mindennapi munkavégzést és
    elősegítse a hatékony együttműködést.</p>
  <p class="motivational">Egy csapatként haladunk előre, támogatva egymást a mindennapok kihívásaiban. Minden ötlet,
    minden közös munka hozzátesz a sikerhez – mert együtt könnyebb és jobb! Büszkék vagyunk arra, hogy egy csapat
    vagyunk!</p>
  <p>Ha bármi kérdés vagy javaslat merül fel, ne habozzatok a Csigének jelezni!!!</p>
  <div class="contact-info c-card-body">
    <p><strong>Cím: </strong> 1089 Budapest, Bláthy Ottó u. 41.</p>
    <p><strong>Telefon: </strong> +36-1-303-7848</p>
    <p><strong>E-mail: </strong> <a href="mailto:info@encotech.hu">info(kukac)encotech.hu</a></p>
    <p><strong>Weboldal: </strong> <a href="https://www.encotech.hu">www.encotech.hu</a></p>
  </div>
  <div class="footer c-card-footer">
    <p>&copy; 2025 Encotech Kft. Minden jog fenntartva.</p>
  </div>
</div>


