<c-container>
  <c-row>
    <c-col xs="12">
      <c-card class="mb-4">
        <c-card-header>
          <strong>Mintavételi beállítás módja</strong>
        </c-card-header>
        <c-card-body>
          <div *ngIf="isLoading">
            <p>Loading...</p>
          </div>

          <div *ngIf="errorMessage">
            <p class="text-danger">{{ errorMessage }}</p>
          </div>

          <div *ngIf="adjustmentMethod">
            <table cTable [bordered]="true">
              <thead>
              <tr>
                <th>ID</th>
                <th>Code</th>
                <th>Description</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>{{ adjustmentMethod.id }}</td>
                <td>{{ adjustmentMethod.code }}</td>
                <td>{{ adjustmentMethod.description }}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
</c-container>




