<c-modal class="bg-dark rounded shadow-sm" [visible]="visible" (close)="cancel()" size="xl" backdrop="static">
  <c-modal-header>
    <h5 class="modal-title">Mintavevő kiválasztása</h5>
  </c-modal-header>

  <c-modal-body>
    <c-row class="mb-3">
      <c-col md="6">
        <input type="text" class="form-control" [(ngModel)]="filterText" placeholder="Mintavevő keresése..." />
      </c-col>
    </c-row>

    <c-card>
      <c-card-body class="table-responsive">
        <table class="table table-bordered table-hover align-middle">
          <thead class="table-light">
          <tr>
            <th>Kiválaszt</th>
            <th>Mintavevő azonosítója</th>
            <th>Mintavevő neve</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let sampler of samplers">
            <td>
              <input
                type="checkbox"
                [checked]="selectedSamplerIds.has(sampler.id)"
                (change)="toggleSelection(sampler)"
              />
            </td>
            <td>{{ sampler.id }}</td>
            <td>{{ sampler.lastName }} </td>
          </tr>
          <tr *ngIf="samplers.length === 0">
            <td colspan="3" class="text-center text-muted">Nincs mintavavő a listában.</td>
          </tr>
          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </c-modal-body>

  <c-modal-footer>
    <button cButton color="primary" (click)="submitSelection()">Mentés</button>
    <button cButton color="secondary" (click)="cancel()">Mégse</button>
  </c-modal-footer>
</c-modal>
